.jumbotron {
    background-color: #e91e63;
    color: #ffffff;
    padding: 50px 25px;
  }

  .navbar {
    margin-bottom: 0;
    background-color: #e91e63;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #e91e63 !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

  /* We need this to stop the pages overlapping the nav bar */
  h2 {
    padding-top: 2em;
}


/* Change the cursor when we're over a clickable row */

.clickable-row:hover {
  cursor: pointer;
}

/* Have some space for the login button */

#loginbutton {
  padding: 2em;
}