{% extends "table.html" %}

{% block tablebody %}
    <thead>
        <th>Name</th>
        <th>Family</th>
        <th>Players</th>
    </thead>
    <tbody>
        {% for instrument in instruments %}
        {% if instrument.player_count(current_user) > 0 %}
        <tr>
        {% else %}
        <tr class="warning">
        {% endif %}
            <td>{{instrument.name}}</td>
            <td>{{instrument.family.value}}</td>
            <td>{{instrument.player_count(current_user)}}</td>
        </tr>
        {% endfor %}
    </tbody>    
{% endblock %}