{% extends "table.html" %}

{% block tablebody %}
    <thead>
        <th>Name</th>
        <th>School</th>
        <th>Year</th>
        <th>Instrument(s)</th>
    </thead>
    <tbody>
        {% for pupil in pupils %}
        {% if pupil.instruments %}
        <tr>
        {% else %}
        <tr class="warning">
        {% endif %}
            <td>{{pupil.first_name}} {{pupil.last_name}}</td>
            <td>{{pupil.school.name}}</td>
            <td>{{pupil.year}}</td>
            <td>
                {% for instrument in pupil.instruments %}
                    <span data-toggle="tooltip" title="{% if instrument.grade %}Grade {{instrument.grade}} {% endif %} {% if instrument.teacher %}Teacher {{instrument.teacher.first_name}} {{instrument.teacher.last_name}}{% endif %}">{{instrument.instrument.name}}</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}