{% extends "table.html" %}

{% block tablebody %}
    <thead>
        <th>Name</th>
        <th>School</th>
        <th>Year</th>
        <th>Instrument(s)</th>
    </thead>
    <tbody>
        {% for pupil in pupils %}
        {% if pupil.instruments.all() %}
        <tr>
        {% else %}
        <tr class="warning">
        {% endif %}
            <td>{{pupil.first_name}} {{pupil.last_name}}</td>
            <td>{{pupil.school.name}}</td>
            <td>{{pupil.year}}</td>
            <td>
                {% for instrument in pupil.instruments.all() %}
                    {{instrument.name}}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}