{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12">

        <h2>{{table_title}}</h2>
      
        <table class="table table-striped table-hover" id="resultTable">
            {% block tablebody %}

            {% endblock %}
        </table>

        {% block posttable %}

        {% endblock %}


        <script>
            $().ready(function(){
                // Make the resultTable dynamic using the DataTables jquery plugin
                $('#resultTable').DataTable(
                    {
                    "paging": false
                    }
                );

                // Enable the tooltip elements
                $('[data-toggle="tooltip"]').tooltip();

                // Look for URLs in table rows and react to them being clicked
                $(".clickable-row").click(function() {
                     window.location = $(this).data("href");
                });
            });
        </script>
    </div>
</div>
{% endblock %}
