{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12">

        <h2>{{table_title}}</h2>
      
        <table class="table table-striped table-hover" id="resultTable">
            {% block tablebody %}

            {% endblock %}
        </table>

        <script>
            $().ready(function(){
                $('#resultTable').DataTable(
                    {
                    "paging": false
                    }
                );
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </div>
</div>
{% endblock %}
